<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
    
    isValid: {{form.valid | json}} <br/>
    formValues: {{form.value | json}}

        <!-- NOTES ABOUT NGFORM ANG NGMODEL
            1) novalidate desable browser default validatiom template. It makes the angular uniformize the template.
            2) #form="ngForm" (#form= is variable declaration) sets the ngForm of this form to the template variable named form
            3) for ngModel works in the elements, they should have "name" propertie informed
            4) ngModel captures the field's value in real time and atulizes the ngForm (whole form)
        -->
        <form #form="ngForm" novalidate>
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
              </h2>
            </div>
          </div>

          <div class="row invoice-info">
            <div class="col-xs-12"> 
              <p class="lead">Endereço de Entrega:</p>
            </div>
            <div class="col-sm-6 col-xs-12">

              <mt-input-container label="Endereço" errorMessage="Endereço é obrigatório com no mínimo 5 caracteres">
                <input name="address" ngModel required autocomplete="off" minlength="5" type="text" class="form-control" id="inputSuccess" placeholder="Endereço">
              </mt-input-container>

            </div>
            <div class="col-sm-2 col-xs-6">
              
              <mt-input-container lable="Número" errorMessage="Número é obrigatório">
                <input name="number" ngModel required autocomplete="off" type="text" class="form-control" id="inputSuccess" placeholder="Número" pattern="^[0-9]*$">
              </mt-input-container>

            </div>
            <div class="col-sm-4 col-xs-6">

              <mt-input-container lable="Complemento">
                <input name="optional" ngModel type="text" class="form-control" id="inputSuccess" placeholder="Complemento">
              </mt-input-container>
              
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Itens do Pedido:</p>
            </div>
            <!-- NOTES EVENT EMMITER
                  1) (increaseQty)="increaseQty($event)" :
                      - '(increaseQty)' = is the EventEmitter variable in the order-items component,
                            which is emited by the emitIncreaseQty, called by on button's click event
                      
                      - "increaseQty($event)" = increaseQty method on the order component(this),
                            which calls the order service to manipulate the list of itens contained on the CartService,
                            which is encapsulated by injection in the OrderService

                      - $event = clicked CartItem in the list of itens in the order-component
                      
                  2) With that you'll be able to pass a method, through his fater, that recieves the children element to handle in the $event variable.
                  3) The 'emit' method of EventEmitter makes this call.
            -->
              <mt-order-items [items]="cartItems()"
                              (increaseQty)="increaseQty($event)"
                              (decreaseQty)="decreaseQty($event)"
                              (remove)="remove($event)"></mt-order-items>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Formas de Pagamento:</p>

                <div class="form-group">
                  <!-- NOTES CONTROL VALUE ACCESSOR 
                        1) For this component have access of the value of the radio child component 
                            by Control Value Accessor(previously implemented on the mt-radio component)
                            you must to give a name to him and add ngModel directive as well.
                  -->
                  <mt-radio [options]="paymentOtions" name="paymentOption" ngModel></mt-radio>
                </div>

            </div>
            <!-- /.col -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Frete e Total:</p>
              
              <mt-delivery-costs></mt-delivery-costs>

            </div>
            <!-- /.col -->
          </div>

        </form>

        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success pull-right" [disabled]="!form.valid"><i class="fa fa-credit-card"></i> Concluir Pedido
            </button>
          </div>
        </div>

    </section>
</section>