<section class="content-header">
  <h1>
    Todos os Restaurantes
  </h1>
</section>

<section class="content">

  <div class="row">
    <!--
      NOTES: use *ngFor to fill the screen dinamically from provided array.
      "restaurants" is the array created at this component ts file.
    -->
    <div *ngFor="let restaurant of restaurants" class="col-sm-6 col-xs-12">
        <!-- NOTES: creating a restaurant component passing each restautant to it -->
        <mt-restaurant [restaurant]="restaurant"></mt-restaurant>
    </div>
  </div>

</section>