<div class="menu-item-info-box">
  <span class="menu-item-info-box-icon">
    <img [src]="menuItem.imagePath">
  </span>
  <div class="menu-item-info-box-content">
    <span class="menu-item-info-box-text">{{menuItem.name}}</span>
    <span class="menu-item-info-box-detail">{{menuItem.description}}</span>
    <span class="menu-item-info-box-price">{{menuItem.price | currency: "BRL": true}}</span> 
    <!-- NOTES: currency will format the number in a specif ISO, BRL.
          The boolean paremeter informs to use currency symbol (lke R$ or $) istead ISO (BRL, EUA, etc...).
    -->
    <a (click)="emitAddEvent()" class=""><i class="fa fa-plus-circle"></i> Adicionar</a>
    <!-- The (click)="emitAddEvent()" calls the method implemented on the TS file -->
  </div>
</div>