<div *ngIf="student"> <!-- Just show div's content if student is defined (Not NULL) -->
  <!-- Student: {{student?.name}}. Is he/she jedi? {{student?.isJedi ? "Yes" : "No"}} Template interpolation {{val}}, brings component's attibutes to template -->
  <!-- <div [hidden]="!student.isJedi"> Property Binding [prop]="val", another way to brings component's attibutes to template -->
    <!-- IMPORTANT NOTE: When you need to pass values that aren't strings, is mandatory to use
          property binding sintax, otherwise, it will interpret as a sting and a boolean test 
          probally will fail, causing bugs in your application. -->
  <!-- NOTE: Events: to set a component method to a DOM element action, use '()' to involve the action and write the name of disered method inse '""'.
        Like this:   (click)="clicked()"-->
    Student: <a href="#" (click)="clicked()">{{student?.name}}</a> 
  <div *ngIf="student?.isJedi"> 
    <!-- Secure navigation operator '?', if the expression on the left side of ? is undefined, 
      dont try to access the operations o the right side--> 
    <!-- NOTE: Directives: gives some behaviors for the         DOM elements. *ngIf is a directive that
         gives IF behavior for the DOM element.
         Can also be writen like that: [ngIf]="student.isJedi" but the short way is mos commom.
         Syntax: *ngDirectiveName="Type script expression"
         That is better then use hidden property because the element is sended to DOM JUST if 
         the test return true -->
    Jedi Temple: {{student.temple}} <button (click)="description.focus()">Focus</button>
      <!-- To get the element reference in the TS code or calling directly from another element, use '#' before the dedired name.
        Like this: #description
        Therefor, you can call this elemente using the name 'description' to get in TS code. -->
    <br />
    <textarea #description></textarea>
  </div>
</div>