<!--The content below is only a placeholder and can be replaced.-->
<!-- NOTE: This is the default main page of an Angular application -->
<div style="text-align:center">
    <jad-header></jad-header> <!-- NOTE: using created component. jad is the prefix setted on 'angular.json' file -->
    <!--<jad-student [student]="luke"></jad-student>  Anoter component with Property Binding-->
    <!-- <jad-student name="Han Solo" [isJedi]="false"></jad-student> -->
    <!-- IMPORTANT NOTE: String doesn't work in Template interpolation {{val}}.
     Booleans and other types should to be passed through Property binding sintax [prop]="val" -->
    <jad-student *ngFor="let student of students" [student]="student"></jad-student> <!-- *ngFor is anoter directive -->
    <jad-student></jad-student>
</div>
<!--
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
-->
<router-outlet></router-outlet>
